$font-normal-sans-serif: "FuturaBook", Arial, Helvetica, sans-serif;
$font-bold-sans-serif: "FuturaDemi", Arial, Helvetica, sans-serif;

$font-size-smallest: 0.777rem;
$font-size-smaller: 0.888rem;
$font-size-base: 1rem;
$font-size-large: 1.111rem;
$font-size-larger: 1.333rem;
$font-size-largest: 1.555rem;
$font-size-heading-mobile: 1.777rem;
$font-size-heading: 2.666rem;
