@import "./abstracts/colors";

:export {
    gradientBlue: $gradientBlue;
    lightGradientBlue: $lightGradientBlue;
    gradientRed: $gradientRed;
    lightGradientRed: $lightGradientRed;
    gradientYellow: $gradientYellow;
    lightGradientYellow: $lightGradientYellow;
}